body {
  background-color: #e0d18d;
}
#spanId {
  float: left;
  text-align: left;
  margin-right: 50px;
  position: relative;
  bottom: 00px;
}
.uno {
  width: 300px;
}
.Encabezado {
  font-size: 26px;
  text-align: center;
}
.cuerpo {
  text-align: left;
  width: 300 px;
  margin: 300px;
  position: relative;
  top: -270px;
  font-size: 16px;
}
img {
  float: right;
  width: 10%;
  margin-right: 400px;
  position: relative;
  top: -170px;
}
